# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Public data
public/3dtiels_whu/
public/dixing/
public/VectorTile/
public/my_tiles/
public/*.rvt
public/*.geojson
public/*.kml
public/*.glb
public/*.jpg

# GIS Data files in root or any folder
*.shp
*.shx
*.dbf
*.prj
*.sbn
*.sbx
*.cpg
*.qix
*.tif
*.tiff
*.ovr
*.aux.xml
*.las
*.laz
*.obj

# Documents
*.doc
*.docx
*.pdf
